<main>
    <h1 class="text-uppercase">Hello World</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3class="text-capitalize">3 title</h3>

        <hr>

        <div class="display-1">Hello World</div>
        <div class="display-4 text-end"> Second</div>
        <div class="display-5">3 title</div>
        <br>
        <div class="text-muted text-center">Додатковий
            <span class="display-6">текст</span>
        </div>
        <hr>
        <button class="btn btn-primary">
            <span class="text-uppercase">button primary</span>
        </button>
        <br>
        <br>
        <button class="btn btn-success">button OK</button>
        <button class="btn btn-warning">
            <span class="text-capitalize">allow button</span>
        </button>
        <br>
        <div>
            <a href="#" class="btn btn-link">button</a>
        </div>
        <button class="btn btn-danger">
            <span class="text-uppercase">delete</span>
        </button>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="text-warning">! text</div>
                <div class="text-light">The Invisible Text</div>
                <div class="">My text</div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">

                <button class="btn btn-secondary">Кнопка</button>
                <button class='btn btn-outline-secondary btn-lg'> Редагувати </button> </button>
                <button class="btn btn-outline-danger btn-sm"> Видалити </button>

            </div>
        </div>

        <br>
        <div class="card">
            <div class="card-body">this is content</div>
        </div>
</main>