{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<main>
    <div class="p-4">
        <h1>Список сторінок</h1>
        <p class="pt-2">Інформація: PET Resume project <br> Курс FullStack розробників IT-Brains Группа 09.01.2023</h5>

            <button type="button" class=" btn btn-dark btn-sm">Детальніше</button>
    </div>
    <div class="col-3 ms-4">
        <div class="row g-3">
            <a href="/shopcatalog" class="btn btn-primary">Shopcatalog</a>
            <a href="/shopreview" class="btn btn-primary">Shopreview</a>
            <a href="/shopcart" class="btn btn-primary">Shopcart</a>
            <a href="/shopprofile" class="btn btn-primary">Shopprofile</a>
            <a href="/shoporder" class="btn btn-primary">Shoporder</a>
            <a href="/shophome" class="btn btn-primary">Shophome</a>
            <a href="/shopproduct" class="btn btn-primary">Shopproduct</a>
            <a href="/shopnews" class="btn btn-primary">Shopnews</a>
            <a href="/task31" class="btn btn-primary">Page task31</a>
            <a href="/task21" class="btn btn-primary">Page task21</a>
            <a href="/task22" class="btn btn-primary">Page task22</a>
            <a href="/facebook" class="btn btn-primary">Page facebook</a>
            <a href="/mac" class="btn btn-primary">Page mac</a>
            <a href="/car" class="btn btn-primary">Page car</a>
            <a href="/js" class="btn btn-primary">Page js</a>
            <a href="/program" class="btn btn-primary">Program</a>
            <a href="/web" class="btn btn-primary">Web</a>
            <a href="/person" class="btn btn-primary">Person</a>
            <a href="/bio" class="btn btn-primary">Bio</a>
            <a href="/work" class="btn btn-primary">Work</a>
            <a href="/education" class="btn btn-primary">Education</a>
            <a href="/skills" class="btn btn-primary">Skills</a>
            <a href="/summary" class="btn btn-primary">Summary</a>
        </div>
    </div>
    {{!--
    Цей код містить лише те, що буде виводитись в

    <body> --}}
</main>
<hr>