<div class="row">
    {{#each contacts_data.form.input}}
    <div class="col-6 g-2">
        <b class="form-label">{{label}}</b>
        <input type="text" class="form-control form-control-sm" id="{{@key}}" placeholder="{{placeholder}}" required>
        <span class="form-text text-danger">{{caption}}</span>
    </div>
    {{/each}}
</div>