{{!--Це леяут program --}}
<!DOCTYPE html>
<html>

<head>
	<title>
		Program page
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
</head>

<body>

	{{{body}}}

</body>

</html>